<!DOCTYPE html>
<html>
<head>
  <title>HTMLの練習</title>
  <script src="ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script type="text/javascript">
      $(function(){ // if document is ready
          $.get("https://staging-mmc.akb48shop.jp/api/v1/NGT48-products/1974");
      });
  </script>
</head>
<body>
初めてのWebページです。
</body>
</html>
